root = true

# Code files
[*.cs]
dotnet_diagnostic.IDE0005.severity = warning
dotnet_diagnostic.IDE0055.severity = warning
dotnet_sort_system_directives_first = true
indent_size = 4
indent_style = space

# Analysers
dotnet_diagnostic.IDE0290.severity = none